{% extends "base.html" %}
{% block content %}
    <h2>You got {{ team }}!</h2>
    <form method="POST" action="{{ url_for('add_player') }}">
        <label>Choose Player:</label>
        <select name="player">
            {% for player in players %}
                <option value="{{ player.name }}">{{ player.name }} ({{ player.rating }})</option>
            {% endfor %}
        </select>
        <label>Position:</label>
        <select name="position">
            <option>PG</option>
            <option>SG</option>
            <option>SF</option>
            <option>PF</option>
            <option>C</option>
        </select>
        <button type="submit">Add Player</button>
    </form>
{% endblock %}
